<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style type="text/css">
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #f5f5f5;
        }
        @font-face {
            font-family: "Museo Sans";
            src: url('https://typekit.com/fonts/museo-sans');
        }
        body {
            font-family: "Museo Sans";
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header" style="background-color: #333333; ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('/images/logo-app.png') }}" style="width: 40%;" />
                </a>
                
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="footer" style="padding-top: 10px; position: fixed;">
        <div class="container">
            <ul>
                <ul class="list-inline">
                    <li style="width: 22%;">
                    <a href="#">
                            <img src="{{ asset('/images/picto-cards.png') }}" style="width: 90%;" />
                        </a>
                    </li>
                    <li style="width: 22%;">
                        <a href="{{ path('stat') }}">
                            <img src="{{ asset('/images/picto-stats.png') }}" style="width: 90%;" />
                        </a>
                    </li>
                    <li style="width: 22%;">
                        <a href="{{ path('option') }}">
                            <img src="{{ asset('/images/picto-options.png') }}" style="width: 90%;" />
                        </a>
                    </li>
                    <li style="width: 22%;">
                        <a href="#">
                            <img src="{{ asset('/images/picto-plus.png') }}" style="width: 90%;" />
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>